@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

body,html{
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
.overlay{
    height:100%;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 213, 134, 0);/*change the 4th value 1 is 100% opaque and 0 is transparent*/

}
.background-img{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-image: url('assets/bg_up1.png');/*copy and paste the mage to assets and change the name here*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0;
    /* opacity: .5; */
}
.content0fpage{
    position: absolute;
    text-align: center;
    z-index: 10;
}
.mainlogo{
    width: 20%;
    top: 25%;
    padding: 10%;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 300%;
}
#about{
    background-color: transparent;
    border-radius: 10PX;
    width: 50%;
    text-align: justify;
    margin: auto;
}
.content{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 125%;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
    background: lightgray;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(252, 195, 89);
}




.ss{
    display: flex;
    margin-left: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sss{
    text-align: center;
    justify-content: center;
}

.sponlogo{
    width: 15%;
    margin: 3%;
}

.spons{
    margin: auto;
    text-align: center;
    text-align: center;
    align-items: center;
    /* margin-left: 9%; */
}







.faq {
margin: 0 auto;
background-color: transparent;
border: 1px solid black;
border-radius: 10px;
padding: 30px;
position: relative;
overflow: hidden;
margin: 20px 0;
transition: 0.3s ease;
max-width: 400px;

}

.faq.active {
background-color:transparent;


}



.faq-title {
margin: 0 35px 0 0;
color: black;
}

.faq-text {
display: none;
margin: 30px 0 0;
color: black;
}

.faq.active .faq-text {
display: block;
color: black;
}

.faq-toggle {
background-color: transparent;
border: none;
border-radius: 50%;
color: black;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
padding: 0;
color: black;
position: absolute;
top: 30px;
right: 30px;
height: 30px;
width: 30px;
}

.faq-toggle:focus {
outline: none;
}

.faq.active .faq-toggle {
background-color: #9FA4A8;
}

.faq-toggle .fa-times {
display: none;
}

.faq.active .faq-toggle .fa-times {
display: block;
}

.faq-toggle .fa-chevron-down {
color: #000000;
}

.faq.active .faq-toggle .fa-chevron-down {
display: none;
}
.myDiv
{
position: relative;
display: flex;
flex-direction: row;
box-sizing: border-box;
/* margin: 0 auto; */
justify-content: center;
justify-items: center;

}

@media screen and (max-width: 767px)
{
.myDiv
{
    flex-direction: column;
}
.ss{
     /*flex-direction: column; */
}
.sponlogo{
    width: 25%;
}
.mainlogo{
    width: 60%;
}
#about{
    width: 90%;
}
} 
/*SOCIAL MEDIA*/
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width:auto;
    display:block;
    margin: -10px;
    background: #535051;
    color: #fff;
    height: 340px;
text-align: center;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 5px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
   /* height: 00px;*/
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 19px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #535051;
    border-radius: 350px;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}


.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #535051;
    border-radius: 350px;
}
.fa-instagram:hover {
     background-image: linear-gradient(rgb(96, 13, 228),rgb(255, 0, 221), yellow);
     transition: .5s;
}
