body,html{
    width: 100%;
    height: 100%;
    background-color: bisque;
}
.mainlogo{
    width: 20%;
    position: absolute;
    top: 30%;
    right: 10%;

}
.divid{
    position: absolute;
    width: 3px;
    height: 50%;
    background-color: #c3c3c3;
    top: 30%;
    left: 50%;
    border-radius: 50px;
}
#about{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 40%;
    height: 50%;
    background-color: transparent;
    border-radius: 10PX;
}